* {
  padding: 0;
  margin: 0;
}

body {
  /* The image used */
  background-image: url("../images/High_resolution_wallpaper_background_ID_77702088744.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Source Serif Pro";
  overflow: hidden;
}

.loading {
  background-color: grey;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  top: 0;
  z-index: 1;
  opacity: 1;
}

.loaded {
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}

.loadingImage {
  width: 100px;
}

.fa-twitter {
  position: fixed;
  font-size: 2rem;
  color: black;
  top: 25%;
  left: 95%;
}

.fa-twitter:hover {
  color: white;
  transition: 0.5s;
}

.fa-facebook:hover {
  color: white;
  transition: 0.5s;
}
.fa-facebook {
  position: fixed;
  font-size: 2rem;
  color: black;
  top: 33%;
  left: 95%;
}

.logo {
  position: relative;
}

.logo > div {
  position: absolute;
  left: 105%;
  top: 23%;
  opacity: 0;
}

.logoName {
  width: 18rem;
}
.logo:hover > div {
  opacity: 1;
  transition: 1s;
  animation: fadeInLeft 1s;
}

.logoImage {
  width: 3rem;
}

.eyesOpen {
  width: 8rem;
  position: absolute;
  left: 71.75%;
  top: 41%;
  opacity: 0;
}

.jumbotronImage:hover .eyesOpen {
  opacity: 1;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 10% 0%;
}

.navItem > a {
  text-decoration: none;
  font-family: "asap";
  font-size: 1.2rem;
  color: black;
  margin: 0 10px;
}

.navItem > a:hover {
  color: #585656;
}
/* Jumbotron */

.jumbotron {
  display: flex;
  margin: 0 10%;
  padding-top: 5%;
  justify-content: space-between;
}

.jumbotronImage {
  width: 100%;
  position: absolute;
  bottom: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-family: "asap";
  font-size: 1.5rem;
}
#aboutMe {
  display: flex;
  padding: 4% 0 3%;
  background-color: rgb(102, 102, 102, 0.8);
}

.aboutMeLogo {
  color: lightgrey;
  font-size: 6rem;
  margin: 5% 5% 0%;
}
.aboutMeHeader {
  font-family: "asap";
}

.description {
  margin-left: 5%;
  color: black;
}

.aboutMeInput {
  display: flex;
  margin: 0 10%;
}

.aboutMeDescription {
  line-height: 2.5rem;
  color: black;
}

.aboutMeHobbies {
  display: flex;
  margin-top: 2%;
  font-family: "asap";
  font-size: 2rem;
}

.anotherDescription {
  font-size: 2rem;
  margin-top: 2%;
}
.dp {
  margin-top: 3%;
  width: 25rem;
  height: 25rem;
  border-radius: 100%;
}

.skillSet {
  margin: 5% 0 10%;
}
.skills {
  margin: 5% 10%;
  display: flex;
}

.html {
  display: flex;
  width: 50%;
}

.mySkills {
  text-align: center;
}

.mySkills1 {
  font-size: 4rem;
}
.skillStats {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.skillIcon {
  font-size: 10rem;
}

.skillImage {
  padding-top: 3%;
  width: 8rem;
  height: 8rem;
}

.skillIcon:hover {
  color: grey;
  transition: 1s;
}

.mikee {
  font-family: "asap";
  font-size: 6rem;
}
.rating {
  width: 28rem;
  margin-left: 10px;
}
.skillName {
  margin-left: 5%;
  font-size: 4rem;
}

.fa-js-square {
  padding-top: 10%;
  font-size: 9rem;
}

.fa-sass {
  padding-top: 25%;
  font-size: 6rem;
}

.fa-react {
  padding-top: 25%;
  font-size: 7rem;
}

.fa-node-js {
  font-size: 9rem;
  padding-top: 15%;
}
.footerLink {
  text-align: center;
  background-color: rgb(102, 102, 102, 0.8);
  padding: 2.5% 0 2.5%;
}

.links {
  font-family: "asap";
}

.links > a {
  text-decoration: none;
  margin: 5px;
  font-size: 1rem;
  color: black;
}

.links > a:hover {
  color: white;
  transition: 0.5s;
}

.trademark {
  font-family: "asap";
  font-size: 1rem;
  padding-top: 1%;
}

/* eyes */

.eyes {
  position: absolute;
  top: 164px;
  left: -2px;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.eye {
  width: 40px;
  height: 30px;
  background-color: white;
  display: inline-block;
  margin: 20px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  border: 5px solid rgb(99, 69, 31);
}
